output {
    position: relative;
    display: none;
}
    output[show="visible"] {
        display: block;
    }

    output[show="hidden"] {
        display: none;
    }

    output > div {
        cursor: pointer;
        position: absolute;
        right: 10px;
    }

    output[data-type="INFO"] {
        color: #5ec200;
        background-color: #deffbf;
        border: 1px solid #d8fcb6;
        padding: 5px;
    }

    output[data-type="ERROR"] {
        color: #cc101d;
        background-color: #ffcfd0;
        border: 1px solid pink;
        padding: 5px;
    }

    output[data-type="WARN"] {
        color: #b3a400;
        background-color: rgba(252, 255, 0, 0.4);
        border: 1px solid #f0dc00;
        padding: 5px;
    }