/* 
    ////////////////////////////////////
                PROFILE
    ////////////////////////////////////
*/

#Profile {
    position: absolute;
    right: 0;
    top: 0;
    margin: 3px;
    height: 44px;
    width: auto;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(0,0,0, 0.3);
}

    #Profile a {
        display: grid;
        height: 50px;
        grid-template-rows: auto 44px;
        grid-template-areas: "name img";
        text-decoration: none;
        overflow: hidden;
        width: 100%;
    }

    #Profile p {
        grid-area: name;
        padding: 5px;
        padding-right: 0;
        padding-left: 0;
        margin: 0;
        max-width: 0;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        color: white;
        overflow: hidden;
        animation-name: ProfileFadeOut;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    #Profile img {
        grid-area: img;
        border-radius: 10px 10px 10px 10px;
        height: 44px;
    }

    #Profile a:hover p {
        animation-name: ProfileFadeIn;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

@keyframes ProfileFadeIn {
    0% {
        padding-right: 0;
        padding-left: 0;
        max-width: 0;
    }

    25% {
        padding-right: 5px;
        padding-left: 5px;
    }

    100% {
        padding-right: 5px;
        padding-left: 5px;
        max-width: 500px;
    }
}

@keyframes ProfileFadeOut {
    0% {
        padding-right: 5px;
        padding-left: 5px;
        max-width: 500px;
    }

    25% {
        padding-right: 5px;
        padding-left: 5px;
    }

    100% {
        padding-right: 0;
        padding-left: 0;
        max-width: 0;
    }
}
