/*
    ////////////////////////////////////
                SPECIAL
    ////////////////////////////////////
*/

    #grid #content #Top10Chatters .Title{
        margin-bottom: 10px;
    }

#ViewerCurve {
    height: 30vh;
    width: 100%;
}