#grid #content {
    background-color: #f5f5f5;
}
.darkmode #grid #content {
    background-color: #292929;
    color: white;
}

#grid #content h1 {
    padding: 10px 0 !important;
    margin: 10px 0;
    background-color: white;
    text-align: center;
}

.darkmode #grid #content h1 {
    background-color: #4f4f4f;
}