#grid #content {
    background-color: #f5f5f5;
    position: relative;
}
.darkmode #grid #content {
    background-color: #292929;
    color: white;
}

    input[type="checkbox"] {
        width: 15px;
        height: 15px;
        display: inline-block;
        cursor: pointer;
        color: orange;
    }

#grid #content h2 {
    margin-bottom: 0;
}

#grid #content a {
    color: #2ab89b;
}

    #grid #content a:hover {
        filter: brightness(90%);
    }

#TWITCH_LOGIN_WRAP, #AuthorizationCode {
    display: none;
}

#AuthorizationCode {
    margin-top: 70px;
}

    #AuthorizationCode #AuthorizationCode_Header {
        font-size: 30px;
    }

    #AuthorizationCode input {
        font-size: 20px;
        outline: none;
        width: 70%;
        max-width: 1000px;
    }

    #AuthorizationCode button {
        font-size: 20px;
        outline: none;
        cursor: pointer;
        margin-left: 5px;
    }

#AuthorizationCode_LogOut{
    margin-top: 40px;
}

#CookieSite {
    position: absolute;
    bottom: 25px;
    right: 10px;
}

/* SCOPES */
#TWITCHAPI_USERLOGIN_SCOPES_WRAPPER_BUTTON{
    margin: 0 auto;
}

#TWITCHAPI_USERLOGIN_SCOPES_WRAPPER {
    display: none;
    margin: 0 auto;
}

#TWITCHAPI_USERLOGIN_SCOPES_WRAPPER.show {
    display: block;
}

#TWITCHAPI_USERLOGIN_SCOPES {
    margin-top: 5px;
    width: calc(100% - 2px);
    max-height: 300px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: auto 57px;
    grid-template-rows: auto;
}

    #TWITCHAPI_USERLOGIN_SCOPES::-webkit-scrollbar {
        width: 5px;
    }

    #TWITCHAPI_USERLOGIN_SCOPES::-webkit-scrollbar-track {
        background: none;
    }

    #TWITCHAPI_USERLOGIN_SCOPES::-webkit-scrollbar-thumb {
        background: #888;
    }

    #TWITCHAPI_USERLOGIN_SCOPES > div {
        padding: 5px 0px;
    }

        #TWITCHAPI_USERLOGIN_SCOPES > div:nth-child(2n+1) {
            padding-top: 8px;
            padding-left: 5px;
        }

        #TWITCHAPI_USERLOGIN_SCOPES > div:nth-child(4n+3), #TWITCHAPI_USERLOGIN_SCOPES > div:nth-child(4n+4) {
            background-color: #fefaff;
        }

        #TWITCHAPI_USERLOGIN_SCOPES > div:nth-child(4n+1), #TWITCHAPI_USERLOGIN_SCOPES > div:nth-child(4n+2) {
            background-color: #f2f0f2;
        }

        #TWITCHAPI_USERLOGIN_SCOPES > span, #TWITCHAPI_USERLOGIN_SCOPES > div:nth-last-child(-n+2) {
            background-color: white;
            border-bottom: none;
        }

body.darkmode #TWITCHAPI_USERLOGIN_SCOPES > div:nth-child(4n+3), body.darkmode #TWITCHAPI_USERLOGIN_SCOPES > div:nth-child(4n+4) {
    background-color: #2e2e2e;
}

body.darkmode #TWITCHAPI_USERLOGIN_SCOPES > div:nth-child(4n+1), body.darkmode #TWITCHAPI_USERLOGIN_SCOPES > div:nth-child(4n+2) {
    background-color: #2e2e2e;
}

body.darkmode #TWITCHAPI_USERLOGIN_SCOPES > span, body.darkmode #TWITCHAPI_USERLOGIN_SCOPES > div:nth-last-child(-n+2) {
    background-color: #2e2e2e;
}