#grid #content {
    background-color: #f5f5f5;
}

    input[type="checkbox"] {
        width: 15px;
        height: 15px;
        display: inline-block;
        cursor: pointer;
        color: orange;
    }