#grid #content h1{
    font-weight: 400;
    margin: 0;
}

#grid #content #master {
    display: grid;
    grid-template-columns: 50px 160px auto 120px 170px;
    grid-template-rows: auto;
}

.package_index:nth-child(1), .package_name:nth-child(2), .package_description:nth-child(3), .package_capabilities:nth-child(4), .package_other:nth-child(5) {
    border-bottom: 1px solid black;
}

.package_index:nth-child(10n+1), .package_name:nth-child(10n+2), .package_description:nth-child(10n+3), .package_capabilities:nth-child(10n+4), .package_other:nth-child(10n+5) {
    background-color: whitesmoke;
}

.package_index:nth-child(10n+6), .package_name:nth-child(10n+7), .package_description:nth-child(10n+8), .package_capabilities:nth-child(10n+9), .package_other:nth-child(10n+10) {
    background-color: lavender;
}

.package_index, .package_name, .package_description, .package_capabilities, .package_other {
    padding: 10px;
    height: 100%;
    display: table;
}

.package_index, .package_name, .package_description, .package_capabilities {
    border-right: 1px dashed gray;
}

.package_index p, .package_name p, .package_description p, .package_other p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

    .package_name a, .package_other a {
        text-decoration: none;
    }

    .package_name a {
        color: black;
    }

    .package_other div, .package_capabilities div {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .package_capabilities img{
        width: 30px;
        margin: 5px;
    }

    .package_Error {
        padding: 10px;
        height: 100%;
        display: table;
        background-color: lightgray;
    }

    .package_Error p {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

.enableButton {
    width: 44px;
    height: 20px;
    background-color: white;
    border-radius: 25px 25px;

    float: right;

    position: relative;
}

    .enableButton > div {
        width: 40px;
        height: 16px;
        border-radius: 25px 25px;
        position: absolute;
        top: 2px;
        left: 2px;
    }

        .enableButton > div > div {
            width: 12px;
            height: 12px;
            border-radius: 25px 25px;
            background-color: white;
        }

    .enableButton .enabled {
        background-color: green;
    }

    .enableButton .disabled {
        background-color: red;
    }

    .enableButton .enabledAni {
        animation-name: toEnable;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    .enableButton .disabledAni {
        animation-name: toDisable;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }



    .enableButton .enabledBox {
        position: absolute;
        top: 2px;
        left: 2px;
    }

    .enableButton .disabledBox {
        position: absolute;
        top: 2px;
        left: 26px;
    }

    .enableButton .enabledAniBox {
        animation-name: toEnableBox;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    .enableButton .disabledAniBox {
        animation-name: toDisableBox;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

@keyframes toDisable {
    from {
        background-color: green;
    }

    to {
        background-color: red;
    }
}

@keyframes toEnable {
    from {
        background-color: red;
    }

    to {
        background-color: green;
    }
}

@keyframes toDisableBox {
    from {
        position: absolute;
        top: 2px;
        left: 2px;
    }

    to {
        position: absolute;
        top: 2px;
        left: 26px;
    }
}

@keyframes toEnableBox {
    from {
        position: absolute;
        top: 2px;
        left: 26px;
    }

    to {
        position: absolute;
        top: 2px;
        left: 2px;
    }
}