/* 
    ////////////////////////////////////
                GENERAL CSS
    ////////////////////////////////////
*/

:root {
    --frikybot-light: #19a3ff;
    --frikybot-dark: #028deb;
    --frikybot-darker: #00497a;
    --frikybot-link: #2ab89b;
    --frikybot-link-light: #2ee6c0;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

input, select, textarea{
    outline: none;
}

/* 
    ////////////////////////////////////
           COOKIE NOTIFICATION
    ////////////////////////////////////
*/

#grid #contentHeader.COOKIENOTE {
    background-color: yellow !important;
}

#COOKIE_NOTIFICATION {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    padding: 5px;
    display: inline-flex;
    align-items: center;
}
    #COOKIE_NOTIFICATION span {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
        white-space: pre-line;
    }

    #COOKIE_NOTIFICATION a {
        color: #19a3ff;
    }
        #COOKIE_NOTIFICATION a:hover {
            color: #028deb;
        }