#content {
    background-color: #f3f3f3 !important;
}
.darkmode #grid #content {
    background-color: #4f4f4f !important;
    color: white;
}

#CHATMOD{
    display: none;
}

    #CHATMOD > center {
        font-size: 40px;
        font-weight: bold;
        padding: 10px;
        background-color: white;
    }

.darkmode #CHATMOD > center {
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    background-color: #292929;
}


.Filter {
    margin: 10px 0 50px 0;
    padding: 10px;
    background-color: white;
}
.darkmode .Filter {
    background-color: #292929;
}

h2{
    margin-top: 0;
    border-bottom: 1px solid gray;
}

h3,h4 {
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
}
    h2 button, h3 button {
        float: right;
        padding: 3px 10px;
    }

.INPUT {
    margin-top: 5px;
    max-width: 800px;
    display: grid;
    grid-template-columns: 300px auto;
    grid-column-gap: 10px;
}

.INPUT_SIDE {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 5px;
}

    .INPUT_SIDE switchbutton, .INPUT_SIDE input, .INPUT_SIDE button {
        float: right;
    }
    .INPUT_SIDE input {
        margin-top: 7px;
        border: none;
        border-bottom: 1px solid gray;
        text-align: right;
    }

    .INPUT_SIDE example {
        color: gray;
        margin-left: 20px;
    }

    .INPUT_SIDE button {
        height: 26px;
        width: 150px;
        margin-right: 10px;
    }

    .INPUT_SIDE .SPACER {
        width: 100%;
        border-bottom: 1px solid gray;
    }

    .INPUT_SIDE .SMALLSPACER {
        width: 100%;
        margin-top: 5px;
    }

.INPUT input {
    height: 20px;
    outline: none !important;
}

    .INPUT input[missing="true"] {
        border-color: red;
        color: red;
    }

    input{
        outline: none;
    }

button {
    cursor: pointer;
    border: none;
    pointer-events: all;
}
button:hover{
    filter: brightness(0.9);
}
    button[red] {
        background-color: #ff8282;
    }

.darkmode button[red] {
    background-color: #c71818;
    color: white;
}

button[green] {
    background-color: #82ff84;
}

.darkmode button[green] {
    background-color: #18c73e;
    color: white;
}

button[yellow] {
    background-color: #ffdd80;
}

.darkmode button[yellow] {
    background-color: yellow;
    color: black;
}

/* Word Filter */
#WordFilter {
    display: none;
}

#WordFilter customtable img {
    height: calc(1.3em - 4px);
    cursor: help;
    filter: brightness(0.9);
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.1);
}

#WordFilter customtable button {
    height: calc(1.3em + 3px);
    padding-top: 4px;
    width: 150px;
    transform: translate(0, -4px);
}

/* Spam Filter */
#SpamFilter {
    display: none;
}
    #SpamFilter #SpamCats {
        padding-right: 10px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 10px;
    }

    #SpamFilter span:not(.cut) input {
        margin-right: 60px;
    }

    #SpamFilter button {
        width: 50px;
        margin-left: 10px;
        margin-right: 0px;
    }

/* Link Filter */
#LinkFilter {
    display: none;
}

    #LinkFilter customtable button {
        padding-top: 3px;
        padding-bottom: 2px;
        transform: translate(0, -2px);
    }

    #LinkFilter .settings span:not(.cut) input {
        margin-right: 60px;
    }

    #LinkFilter .settings button {
        width: 50px;
        margin-left: 10px;
        margin-right: 0px;
    }