#SECTION_PACKAGES {
    margin-bottom: 20px;
    display: none;
    position: relative;
}

#header {
    font-size: 60px;
}

/* UI */
#UI {
    position: absolute;
    top: 90px;
    right: 0;
}

#UI button {
    cursor: pointer;
}

#UI button, #UI select, #UI input {
    outline: none;
}

    #UI.DISABLED button, #UI.DISABLED select, #UI.DISABLED input {
        pointer-events: none;
        cursor: default;
        filter: grayscale(1);
    }

/* PACKAGES */
#PACKAGES {
    padding-top: 50px;
}

.Package {
    height: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: auto auto;
    background-color: rgba(255,255,255,0.2);
    border: 1px black solid;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}
.darkmode .Package {
    background-color: #2e2e2e;
}

    .Package .IMG {
        width: 100%;
        padding-top: 100% !important;
        background-color: orange;
        border-bottom: 1px solid dimgray;
        border-right: 1px solid dimgray;
        position: relative;
    }

        .Package .IMG img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

            .Package .IMG img[src*="svg"] {
                padding: 5px 10px;
                width: calc(100% - 20px);
                height: calc(100% - 10px);
                filter: invert(100%);
            }

    .Package .Name {
        border-bottom: 1px solid dimgray;
        padding-left: 10px;
        padding-top: 7px;
        font-size: 4em;
    }

    /* CONTROL */
    .Package .Control {
        width: 100%;
        padding-bottom: 5px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 20px repeat(auto-fill, 25px);
        grid-row-gap: 5px;
        border-right: 1px solid dimgray;
    }

        .Package .Control center {
            width: calc(100% - 2px);
            margin-left: 1px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

    .Package.NOTREADY .Control center.Status {
        color: gray;
        background-color: rgba(0, 0, 0, 0.2);
    }

        .Package.NOTREADY .Control center.Status::after {
            content: 'not ready';
        }

    .Package.DISABLED .Control center.Status {
        color: red;
        background-color: rgba(255, 0, 0, 0.2);
    }
.darkmode .Package.DISABLED .Control center.Status {
    color: white;
}

        .Package.DISABLED .Control center.Status::after {
            content: 'Disabled';
        }

    .Package.ENABLED .Control center.Status {
        color: green;
        background-color: rgba(0, 155, 0, 0.5)
    }
    .darkmode .Package.ENABLED .Control center.Status {
        color: white;
    }

        .Package.ENABLED .Control center.Status::after {
            content: 'Enabled';
        }

.Package .Control button {
    width: calc(100% - 10px);
    margin: 0 5px;
    padding: 5px;
    background-color: #028deb;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

            .Package .Control button:not([disabled]):hover {
                filter: brightness(0.9);
            }

            .Package .Control button[disabled] {
                color: gray;
                background-color: lightgray !important;
                cursor: default;
            }

    .Package.DISABLED .Control button.ENABLE::after {
        content: 'ENABLE';
    }

    .Package.ENABLED .Control button.ENABLE::after {
        content: 'DISABLE';
    }

    .Package.NOTREADY .Control button::after {
        content: 'START';
    }

            .Package .Control button.REMOVE {
                background-color: #e04a4a;
            }

    .Package:not(.ENABLED) .Control a {
        pointer-events: none;
        cursor: default;
        filter: grayscale(1);
    }

    /* MISC */
    .Package .Misc {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

        .Package .Misc .Desc {
            padding: 5px;
            overflow-y: scroll;
        }

            .Package .Misc .Desc .API_INFO {
                color: gray;
                font-size: 15px;
                color: lightcoral;
            }

        /* PACKAGE SETTINGS */

        .Package .Misc .Settings {
            padding: 5px;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            position: relative;
        }

            .Package .Misc .Settings p {
                margin-top: 0;
                margin-bottom: 5px;
            }

                .Package .Misc .Settings p.header {
                    font-size: 20px;
                    border-bottom: 1px solid gray;
                    font-weight: bold;
                    position: relative;
                }

                    .Package .Misc .Settings p.header button {
                        font-size: 17px;
                        border: none;
                        padding: 1px 10px;
                        outline: none;
                        cursor: pointer;
                        font-family: 'Roboto', sans-serif;
                    }

                        .Package .Misc .Settings p.header button[disabled] {
                            filter: grayscale(1);
                            cursor: default;
                        }

                        .Package .Misc .Settings p.header button:not([disabled]):hover {
                            filter: brightness(0.9);
                        }

                    .Package .Misc .Settings p.header .show {
                        background-color: #dedede;
                        position: absolute;
                        top: 0;
                        right: 75px;
                    }

                    .Package .Misc .Settings p.header .save {
                        background-color: #11d455;
                        position: absolute;
                        top: 0;
                        right: 5px;
                    }

            .Package .Misc .Settings .Setting {
                margin-top: 2px;
                display: none;
                grid-template-columns: auto auto;
                grid-template-rows: auto;
            }

                .Package .Misc .Settings .Setting > p > span:nth-child(2) {
                    background-color: var(--frikybot-dark);
                    color: white;
                    border-radius: 50%;
                    font-size: 10px;
                    padding: 0 5px;
                    height: 12px;
                    display: inline-block;
                    transform: translate(3px, -5px);
                    user-select: none;
                    cursor: help;
                }

            .Package .Misc .Settings.show .Setting {
                display: grid;
            }

            .Package .Misc .Settings .Setting input, .Package .Misc .Settings .Setting select {
                outline: none !important;
                border: none;
                border-bottom: 1px solid black;
                text-align: right;
                background: none;
            }
.darkmode .Package .Misc .Settings .Setting input {
    border-color: lightgray;
    color: white;
}

                .Package .Misc .Settings .Setting.SWITCH {
                    grid-template-columns: auto 52px;
                }

.Package .Misc .Settings .Setting.SELECT, .Package .Misc .Settings .Setting.ARRAY {
    position: relative;
}

    .Package .Misc .Settings .Setting.SELECT .MISC_SELECT, .Package .Misc .Settings .Setting.ARRAY .MISC_SELECT {
        position: absolute;
        right: 0;
    }

                /* PACKAGE INTERCONNECT */

        .Package .Misc .Interconnect {
            padding: 5px;
        }

            .Package .Misc .Interconnect p {
                margin-top: 0;
                margin-bottom: 5px;
            }

                .Package .Misc .Interconnect p.header {
                    font-size: 20px;
                    border-bottom: 1px solid gray;
                    font-weight: bold;
                    position: relative;
                }

                    .Package .Misc .Interconnect p.header button {
                        font-size: 17px;
                        border: none;
                        padding: 1px 10px;
                        outline: none;
                        cursor: pointer;
                        font-family: 'Roboto', sans-serif;
                    }

                        .Package .Misc .Interconnect p.header button[disabled] {
                            filter: grayscale(1);
                            cursor: default;
                        }

                        .Package .Misc .Interconnect p.header button:not([disabled]):hover {
                            filter: brightness(0.9);
                        }

                    .Package .Misc .Interconnect p.header .show {
                        background-color: #dedede;
                        position: absolute;
                        top: 0;
                        right: 5px;
                    }

            .Package .Misc .Interconnect:not(.show) p:not(.header), .Package .Misc .Interconnect:not(.show) li {
                display: none;
            }

            .Package .Misc .Interconnect ul {
                margin-top: 0;
            }
