#content {
    background-color: #f3f3f3 !important;
}
.darkmode #grid #content {
    background-color: #2e2e2e !important;
    color: white;
}

#ALERTS {
    margin-bottom: 30px;
}

#PageHeader{
    font-size: 40px;
}

button:not([disabled]) {
    cursor: pointer;
}

input[type="text"], input[type="number"] {
    background: none;
    border: none !important;
    border-bottom: 1px solid gray !important;
}
input[type="number"] {
    text-align: center;
}

body.darkmode input[type="text"], .darkmode input[type="number"] {
    color: white;
}

#grid #content #ALERTS > center:not(#PageHeader) {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px solid gray;
}

#HIDDEN_AUDIO{
    display: none;
}

/* OVERLAY SETTINGS */
#Alert_Overlay_Settings {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
}
    body.darkmode #Alert_Overlay_Settings input {
        color: white;
    }

#Alert_Overlay_Tests {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

    #Alert_Overlay_Tests button {
        text-transform: uppercase;
        border: none;
        padding: 5px 10px;
        background-color: #4287f5;
        color: white;
    }
    #Alert_Overlay_Tests button:hover {
        background-color: #00497a;
    }

#Alert_Overlay_HiddenShit {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-row-gap: 5px;
}
#Alert_Overlay_HiddenShit_UI {
    width: 100%;
    display: grid;
    grid-template-columns: auto 100px 100px 100px;
    grid-template-rows: auto;
    grid-column-gap: 5px;
}
#Alert_Overlay_HiddenShit input {
    width: calc(100% - 10px);
    background: none;
    border: none;
    border-bottom: 1px solid gray;
    color: black;
    text-align: center;
}

/* Main */
#Event_UI {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
    #Event_UI > div {
        text-align: center;
        padding: 5px;
    }
        #Event_UI > div:hover {
            background-color: #19a3ff;
            color: white;
            cursor: pointer;
        }
        #Event_UI > div#selected_topic {
            background-color: #028deb;
            color: white;
        }

#EVENT_SETTINGS{
    margin-top: 20px;
}

.EVENT_LIST_TOPIC {
    display: none;
    background-color: #e3e3e3;
    padding: 5px;
}
body.darkmode .EVENT_LIST_TOPIC {
    background-color: #242424;
}
.EVENT_LIST_TOPIC h3 {
    text-align: center;
    margin: 5px 0 20px 0;
    border-bottom: 1px solid gray;
}
.EVENT_LIST_TOPIC h4 {
    margin: 5px 0;
    font-weight: 200;
    border-bottom: 1px solid gray;
}

/* TOPIC VARIABLES */
#EVENT_SETTINGS_VARIABLES {
    display: grid;
    grid-template-columns: 100px 200px auto;
    grid-row-gap: 5px;
    padding: 10px;
}

/* TOPIC SETTINGS */
.EVENT_SETTINGS_SECTION {
    display: grid;
    grid-template-columns: 300px auto;
    grid-row-gap: 5px;
    padding: 10px;
}
.EVENT_SETTINGS_SECTION > div:nth-child(2n+1){
    margin: 5px 0;
}

    .EVENT_SETTINGS_SECTION .LEGEND_ID {
        color: gray;
        font-size: 15px;
        font-weight: 200;
        margin-left: 10px;
    }

    .EVENT_SETTINGS_SECTION input, .EVENT_SETTINGS_SECTION .MISC_SELECT {
        width: 60%;
        min-width: 200px;
    }

    .EVENT_SETTINGS_SECTION textarea {
        width: 100%;
        resize: vertical;
        background: none;
    }
    body.darkmode .EVENT_SETTINGS_SECTION textarea {
        color: white;
    }

/* SLIDER */
.ALERT_SETTING_SLIDER_WRAPPER {
    max-width: 600px;
    display: grid;
    grid-template-columns: auto auto;
}

/* LAYOUT */
.EVENT_SETTINGS_SECTION .EVENT_LAYOUT {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

        .EVENT_SETTINGS_SECTION .EVENT_LAYOUT > img {
            width: calc(100% - 40px);
            padding: 20px;
            border: 1px solid gray;
            cursor: pointer;
        }

            .EVENT_SETTINGS_SECTION .EVENT_LAYOUT > img:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }

            .EVENT_SETTINGS_SECTION .EVENT_LAYOUT > img[selected] {
                background-color: #00ff1e;
            }

    /* PREVIEW */
    .EVENT_SETTINGS_SECTION .Alert_Preview_Wrapper {
        width: 100%;
        max-width: 600px;
    }

    .EVENT_SETTINGS_SECTION .Alert_Preview_Wrapper .Alert_Preview_Header {
        padding-bottom: 3px;
        display: grid;
        grid-template-columns: auto 20px 80px;
        grid-template-rows: 31px;
        grid-column-gap: 10px;
        grid-template-areas: 'output timer button';
    }

    .EVENT_SETTINGS_SECTION > div.Alert_Preview_Wrapper .Alert_Preview_Header .Alert_Preview_Timer {
        grid-area: timer;
        padding: 4px;
    }

    .EVENT_SETTINGS_SECTION > div.Alert_Preview_Wrapper .Alert_Preview_Header button {
        grid-area: button;
        float: right;
        height: 100%;
        width: 100%;
    }

.EVENT_SETTINGS_SECTION #Alert_Preview {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
    border: 1px solid gray;
    background-color: #ff00ff;
    overflow: hidden;
    position: relative;
}

.ALERT {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    /* SAVE */
    .EVENT_SETTINGS_SECTION > div button.SAVE {
        border: none;
        padding: 5px 10px;
        background-color: #4287f5;
        color: white;
    }
        .EVENT_SETTINGS_SECTION > div button.SAVE:hover {
            background-color: #00497a;
        }


        /* LEGEND */
#EVENT_SETTINGS_LEGEND {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20px auto;
    grid-column-gap: 5px;
    color: gray;
    font-size: 15px;
    font-weight: 200;
}


/* TTS */
#TTS_SETTINGS {
    width: 500px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5px;
}

#TTS_SETTINGS input {
    margin-bottom: 5px;
}
    #TTS_SETTINGS input[type="text"]:first-child {
        width: 300px;
    }
    #TTS_SETTINGS input[type="number"] {
        text-align: center;
        margin-left: 10px;
    }

#TTS_PITCH_SAVE{
    float: right;
    margin-left: 10px;
}

#TTS_TEST_UI {
    width: 500px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5px;
    margin-bottom: 5px;
}
    #TTS_TEST_UI:not(.show) {
        display: none;
    }
    #TTS_TEST_UI input[type="text"] {
        background: none;
        border: none !important;
        border-bottom: 1px solid gray !important;
        width: 300px;
    }

body.darkmode #TTS_TEST_UI input[type="text"] {
    color: white;
}

#TTS_VOICE {
    display: grid;
    grid-template-columns: auto 100px 100px;
    grid-column-gap: 5px;
    border-top: 1px solid gray !important;
    padding-top: 5px;
}
#TTS_VOICE:not(.show) {
    display: none;
}

    #TTS_VOICE > div:nth-child(3n+2) {
        border-right: 1px solid gray;
        border-left: 1px solid gray;
        text-align: center;
    }

    #TTS_VOICE button:first-child {
        margin-right: 5px;
    }